<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>

Live Access Token: <%= @application.access_token %>
Sandbox Access Token: <%= @application.sandbox_access_token %>
